* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#bgimg {
  height: 100%;
  width: 100%;
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: center;
}
#tops {
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 2;
}

#abbtn {
  padding: 24px;
}
#topblank {
  width: 93%;
}
#topnav {
  display: flex;
  width: 45%;
}
.navpanel {
  text-align: center;
  padding: 0 8px;
  width: 80px;
  cursor: pointer;
}
.navpanellong {
  text-align: center;
  width: 120px;
  padding: 0 8px;
  cursor: pointer;
}
.navpanelsemilong {
  text-align: center;
  width: 100px;
  padding: 0 8px;
  cursor: pointer;
}
.navpanelmid {
  width: 90px;
  padding: 0 8px;
  text-align: center;
  cursor: pointer;
}
.inpanel {
  padding: 30px 0;
  color: white;
}
.inpaneleng {
  padding: 32px 0;
}
.inpanel:hover {
  border-bottom: 3px solid white;
}
.inpaneleng:hover {
  border-bottom: 3px solid white;
}
#midpanel {
  width: 100%;
  height: 688px;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0 8%;
  margin-top: 40px;
}

#simplesearch {
  background: white;
  width: 23vw;
  height: 51.7vh;
  padding: 29px 32px 24px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #bbbbbb;
}
h1 {
  font-size: 29.5px;
  color: #484848;
  margin-top: 0;
  margin-bottom: -3px;
}
#dest {
  margin-top: 20px;
}
#dest > span {
  font-size: 12px;
  font-weight: 800;
}
#modenwitch {
  margin-top: 8px;
  height: 5.2vh;
  width: 100%;
  border-radius: 5pt;
  border: 1px solid #eeeeee;
  padding: 12px 12px;
}
#modenwitch > input {
  width: 100%;
  height: 23px;
  border: none;
  font-size: 17px;
  color: #888888;
}
#checkinout {
  width: 100%;
  font-size: 12px;
  font-weight: 800;
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
}
.checkinout {
  width: 50%;
}
#checkinoutbox {
  width: 100%;
  height: 48px;
  display: flex;
  margin-bottom: 20px;
}
.checkinoutbox {
  width: 50%;
  height: 5.2vh;
  border: 1px solid #eeeeee;
  padding: 12px 12px;
}
.checkinoutbox > input {
  width: 100%;
  height: 20px;
  border: none;
  font-size: 15.5px;
  color: #888888;
}
label {
  font-size: 12px;
  font-weight: 800;
}
#peoples {
  margin-top: 8px;
  height: 5.2vh;
  width: 100%;
  border-radius: 5pt;
  border: 1px solid #eeeeee;
  padding: 12px 12px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.pleft > span {
  font-size: 17px;
  color: #888888;
}
#searchbutton {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.searchbutton {
  background-color: #ff5a5f;
  color: white;
  padding: 9px 22px;
  width: 80px;
  height: 48px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
#bottompanel {
  width: 441px;
  height: 196px;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #bbbbbb;
}
#toplane {
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: orange;
}
#bottompan {
  width: 100%;
  padding: 16px 24px;
}
p {
  font-size: 13.7px;
  color: #777777;
}
.fakeh3 {
  font-size: 15.5px;
  font-weight: bold;
  margin-bottom: -7px;
}
.fakeh4 {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#bottoms {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 700px;
  left: 0;
  display: flex;
}
#bottomblank {
  width: 80%;
  height: 100%;
}
#bottompad {
  width: 20%;
  text-align: right;
  font-size: 14.2px;
  color: white;
  font-weight: 550;
}
#bottompadding {
  padding: 22% 6%;
}
#bottompadding > span:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
body {
  overflow: auto;
}
.contentWrap {
  width: 100%;
}
.content {
  padding: 0px 8%;
  width: 100%;
}
.title {
  font-size: 1.1vw;
  font-weight: bold;
  margin-bottom: 16px;
}
#lookaroundgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.1vw;
}
.lacontent {
  height: 9vh;
  border-radius: 16px;
  box-shadow: 4px 3px 3px lightgray;
  display: flex;
  cursor: pointer;
}
#laleft1 {
  width: 7.2vw;
  height: 100%;
  border-radius: 10% 0 0 10%;
  background-image: url(img/5.jpg);
  background-position: center;
  background-size: cover;
}
#laleft2 {
  width: 7.2vw;
  height: 100%;
  border-radius: 10% 0 0 10%;
  background-image: url(img/20.jpg);
  background-position: center;
  background-size: cover;
}
#laleft3 {
  width: 7.2vw;
  height: 100%;
  border-radius: 10% 0 0 10%;
  background-image: url(img/8.jpg);
  background-position: center;
  background-size: cover;
}
.laright {
  width: 50%;
  height: 100%;
}
.inlaright {
  padding: 14% 9%;
  font-weight: bold;
}
.blank {
  width: 100%;
  height: 9vh;
}
.lowspan {
  margin-top: -1.2vh;
}
.lowspan2 {
  margin-top: -1.2vh;
  margin-bottom: 3vh;
}
#plusimage {
  margin-top: 3vh;
  width: 100%;
  height: 32vh;
  border-radius: 4px;
  background-image: url(img/35.jpg);
  background-position: center;
  background-size: cover;
}
#pluscontent {
  width: 100%;
  height: 100%;
  padding: 0 30vw;
  text-align: center;
}
#pluslogo {
  margin: 56px 0 24px;
}

#plusbutton {
  width: 14vh;
  height: 4.8vh;
  background-color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
#adventuregrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1.1vw;
  height: 50vh;
  margin-top: 3vh;
}
.adventure {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#advimg1 {
  width: 100%;
  height: 70%;
  background-image: url(img/15.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#advimg2 {
  width: 100%;
  height: 70%;
  background-image: url(img/23.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#advimg3 {
  width: 100%;
  height: 70%;
  background-image: url(img/25.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#advimg4 {
  width: 100%;
  height: 70%;
  background-image: url(img/11.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#advimg5 {
  width: 100%;
  height: 70%;
  background-image: url(img/28.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#advimg6 {
  width: 100%;
  height: 70%;
  background-image: url(img/33.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.underadvimg {
  width: 100%;
  margin-top: 1vh;
}
.underavgtitle {
  font-weight: bold;
  font-size: 12px;
}
.underavgspan {
  font-size: 16px;
}
.margintopspan {
  margin-top: 6px;
}
.margintopspan > span {
  font-size: 14px;
}
#gridContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40% 40%;
}
.hotelpanel {
  padding: 8px 8px 12px;
  width: 100%;
  height: 100%;
}
.hotelpanel > a {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.hotelpanel > a > img {
  border-radius: 4px;
}
.flexs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}
.plus {
  border-radius: 4px;
  width: 40px;
  height: 20px;
  background: maroon;
  color: white;
  text-align: center;
  font-size: 0.6vw;
  font-weight: bold;
  padding: 2px;
}
.superhost {
  border-radius: 4px;
  width: 70px;
  height: 20px;
  background: white;
  color: black;
  text-align: center;
  font-size: 0.6vw;
  padding: 1px;
  font-weight: 600;
  border: 1px solid black;
}
.panelleft {
  width: 50%;
  display: flex;
}
.boxright {
  margin-left: 8px;
  font-size: 0.8vw;
  color: #686868;
}
.panelbottom {
  font-size: 0.8vw;
  color: Black;
}
.star {
  color: maroon;
}
.starlight {
  color: red;
}
.starright {
  color: black;
  font-size: 0.8vw;
}
.goto {
  width: 13%;
  font-weight: bold;
}
.goto > span {
  text-decoration: underline;
}
#whydown {
  margin-top: -12vh;
}
.recommendgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.1vw;
  height: 50vh;
  margin-top: 3vh;
}
.recommendlink {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#recommendimg1 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/21.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
#recommendimg2 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/51.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
#recommendimg3 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/52.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.inrecplus {
  margin-top: 12vh;
  margin-bottom: -1vh;
}
.inrecspan {
  font-size: 1.7vw;
  font-weight: 550;
  color: #484848;
  margin-bottom: -1vh;
}
.inrecbottom {
  margin-top: 3px;
}
.recommendbottom {
  width: 85%;
  margin-top: 8px;
}
.recbottitle {
  width: 100%;
  font-size: 0.6vw;
  color: darkred;
  margin-bottom: -1vh;
}
.recommendbottom > p {
  font-size: 0.75vw;
  color: #484848;
}
.widegoto {
  width: 20%;
  font-weight: bold;
}
.widegoto > span {
  text-decoration: underline;
}
#nextimg1 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/60.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
#nextimg2 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/61.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
#nextimg3 {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  background-image: url(img/62.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.nextbottom {
  margin-top: 8px;
}
.nbtop {
  color: #484848;
  font-size: 12px;
  margin-bottom: 3px;
}
.nbmid {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 600;
}
.nbbot {
  font-size: 14px;
}
#contentWraps {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(24, 24, 24, 0.5);
}
.contents {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  height: 566.6px;
  padding: 32px;
}
.closebtns {
  width: 100%;
  height: 16px;
  margin: 0 0 24px;
}
.closebtns > a > button {
  border: none;
  background: #ffffff;
  cursor: pointer;
  margin: -20px;
  padding: 8px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  cursor: pointer;
}
button {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}
#facebook {
  padding: 10px 140px;
  background: #4568b2;
  border: none;
}
#google {
  margin-top: 8px;
  background: white;
  padding: 10px 155px;
  border: 2px solid #777777;
}
#loginbutton {
  margin-top: 18px;
  background: #ff5a5f;
  padding: 10px 166px;
  border: none;
}
.inbtn {
  display: flex;
  justify-content: space-around;
}
.notgg {
  color: white;
  font-weight: 800;
  font-size: 16px;
}
.gg {
  color: #484848;
  font-weight: 800;
  font-size: 16px;
}
.line-combo {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}
.line-combo > span {
  font-weight: 800;
  color: #767676;
  font-size: 14px;
}
.lines {
  width: 220px;
  height: 12px;
  border-bottom: 1px solid #e4e4e4;
}
.inputboxcont {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}
.inputbox {
  width: 475px;
  height: 46px;
  padding: 11px;
  font-size: 16px;
  border: none;
}
.passsave {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #484848;
}
#searchpass {
  font-size: 14px;
}
.moji {
  margin-top: 16px;
}
.moji > span {
  color: #484848;
  font-size: 16px;
  color: #484848;
}
.moji > span > a {
  font-weight: 800;
  color: #008489;
}
.moji > hr {
  border: 0.5px solid #e4e4e4;
  margin-bottom: 16px;
}
.otheroptions {
  font-weight: 600;
  margin-top: 16px;
  font-size: 14px;
}
.cb {
  width: 18px;
}
#contentWrapj {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(24, 24, 24, 0.5);
}

.contentj {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  height: 363px;
  padding: 32px;
}
.topsj {
  width: 100%;
  height: 16px;
  margin: 0 0 24px;
}
.topsj > a > button {
  border: none;
  background: #ffffff;
  cursor: pointer;
  margin: -20px;
  padding: 8px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.buttonsj {
  width: 100%;
  height: 204px;
}
.bottomsj {
  margin-top: 16px;
}
.bottomsj > hr {
  border: 0.5px solid #e4e4e4;
}
.mojij {
  margin-top: 16px;
}
.mojij > span {
  color: #484848;
  font-size: 16px;
}
.mojij > span > a {
  font-weight: 800;
  color: #008489;
}
#email {
  margin-top: 18px;
  background: #ff5a5f;
  padding: 10px 166px;
  border: none;
}

.botbuttonflex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.botbutton {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  box-shadow: 3px 3px 3px gray;
  border: none;
  background-color: white;
  border: 1px solid #aaaaaa;
}
.botbuttondisabled {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  border: none;
  background-color: white;
  border: 1px solid lightgray;
}
.bottomoption {
  width: 100%;
  height: 34vh;
  padding: 0 22.8%;
}
.boWrap {
  padding: 3.7vh 0;
}
.boWrapgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 200px;
}
.bgcTitle {
  font-size: 13.5px;
  font-weight: bold;
  color: #484848;
  margin-bottom: 20px;
}
.inbogbox {
  margin-bottom: 4px;
  display: flex;
}
.inbogbox > a {
  font-size: 13.5px;
  font-weight: bold;
  color: #888888;
  text-decoration: none;
}
.inbogbox > div > a {
  font-size: 13.5px;
  font-weight: bold;
  color: #888888;
  text-decoration: none;
}
.inbogbox > a:hover {
  text-decoration: underline;
}
.inbogbox > div > a:hover {
  text-decoration: underline;
}
.newsosik {
  border-radius: 4px;
  width: 40px;
  height: 20px;
  background: darkcyan;
  color: white;
  text-align: center;
  font-size: 0.6vw;
  font-weight: bold;
  padding: 2px;
}
.lastbottom {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.lastbottomleft {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}
.lastbottomleft > div > a {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.lastbottomleft > div > a:hover {
  text-decoration: underline;
}
.iconz {
  margin-left: 15px;
}
