* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #008489;
}
#contentWraps {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(24, 24, 24, 0.5);
}
.contents {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  height: 566.6px;
  padding: 32px;
}
.closebtns {
  width: 100%;
  height: 16px;
  margin: 0 0 24px;
}
.closebtns > button {
  border: none;
  background: #ffffff;
  cursor: pointer;
  margin: -20px;
  padding: 8px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
button {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}
#facebook {
  padding: 10px 140px;
  background: #4568b2;
  border: none;
}
#google {
  margin-top: 8px;
  background: white;
  padding: 10px 155px;
  border: 2px solid #777777;
}
#loginbutton {
  margin-top: 18px;
  background: #ff5a5f;
  padding: 10px 166px;
  border: none;
}
.inbtn {
  display: flex;
  justify-content: space-around;
}
.notgg {
  color: white;
  font-weight: 800;
  font-size: 16px;
}
.gg {
  color: #484848;
  font-weight: 800;
  font-size: 16px;
}
.line-combo {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}
.line-combo > span {
  font-weight: 800;
  color: #767676;
  font-size: 14px;
}
.lines {
  width: 220px;
  height: 12px;
  border-bottom: 1px solid #e4e4e4;
}
.inputboxcont {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}
.inputbox {
  width: 475px;
  height: 46px;
  padding: 11px;
  font-size: 16px;
  border: none;
}
.passsave {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #484848;
}
#searchpass {
  font-size: 14px;
}
.moji {
  margin-top: 16px;
}
.moji > span {
  color: #484848;
  font-size: 16px;
}
.moji > span > a {
  font-weight: 800;
  color: #008489;
}
.moji > hr {
  border: 0.5px solid #e4e4e4;
  margin-bottom: 16px;
}
.otheroptions {
  font-weight: 600;
  margin-top: 16px;
  font-size: 14px;
}
.cb {
  width: 18px;
}
